@{
    ViewBag.Title = "FAQ";

}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>FAQ</title>

</head>
<body>

    <div class="container body-content">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is DubiSouq.com?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    We are proud to say DubiSouq.com is the leading eCommerce site in the Middle East  and offers a host of options for buyers and sellers to transact through an online secure environment to purchase just about everything, either from our online retail stores, or through the Marketplace.
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">I need to make some changes, can I edit the details of my account and/or change address, name and password?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Ofcourse you can. Log-in to your account and you can do most edits yourself except things like Email ID which requires you to contact the Customer Service Team.
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can I buy and have items delivered to a country that is outside the ones where DubiSouq.com is located?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    click on login button on the top right navbar beside register button and enter your user name and password 
                </div>
            </div>
        </div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How to purchase product?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    click on login button on the product you want to buy then add to shopping cart then checkout 
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">I am still worried! What if my item gets lost?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    There’s no need to worry. An item is only considered delivered when we have your signature on the delivery note and the item is in your hands. . For whatever the reason, if an item does get lost you will receive a full refund of your money if you have paid through electronic means (Credit or Debit Card, CashU, other payment cards) and in the event that you chose Cash on Delivery (COD) then you are not liable to make a payment or penalized for a non-delivered item. 
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">I have forgotten my account password. What can I do?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    That’s not a problem; there are also two ways to reset your password: Users can click “Forgot” on souq.com login page and enter the registered email address. User will receive an email instruction for resetting the password. Contact the Customer Service Team through the Contact Us page (Inquiry form or Phone) and a member of our team can assist you in resetting your password by sending you an email to do so in your own privacy
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Do you have a Physical Store?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    No, DubiSouq.com is an online eCommerce site – this allows us to offer you the best value for money, as we don’t have to maintain physical store premises
                </div>
            </div>
        </div>
        <br />

    </div>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("li#faq").addClass("current-page-item");
        });
    </script>
</body>
</html>