@{ 
    Layout = "";
}
<html>
<head>
    <meta charset="UTF-8">
    <title>Dubisouq | Sart Page</title>
    <meta name="viewport" content="width=device-width">
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <section class="buttons">
        <div class="container">
            <h1>D u b i s o u q</h1>
            <a href="@Url.Action("Home")" class="btn btn-2">Enter</a>
        </div>
    </section>
</body>
</html>
