<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="3;url=Home" />
    <title>Dubisouq | Redirect</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>
<body>
    <div class="thank_page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="thank_box">
                       You have purchased successfully :)<br>
                        <a href="Feedback"><i class="fa fa-arrow-left"></i>Leave a feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>