@{
    ViewBag.Title = "Edit Profile";
}
<div class="container center_div">
    <div role="tabpanel">
        <ul class="nav nav-tabs tab-product" role="tablist">
            <li role="presentation" class="active"><a href="#ChangeMyProfile" aria-controls="ChangeMyProfile" role="tab" data-toggle="tab">Change Profile</a></li>
            <li role="presentation"><a href="#ChangeMyAddress" aria-controls="ChangeMyAddress" role="tab" data-toggle="tab">Change Address</a></li>
            <li role="presentation"><a href="#ChangeMyEmail" aria-controls="ChangeMyEmail" role="tab" data-toggle="tab">Change Email</a></li>
            <li role="presentation"><a href="#ChangeMyPassword" aria-controls="ChangeMyPassword" role="tab" data-toggle="tab">Change Password</a></li>
            <li role="presentation"><a href="#ChangeMyPicture" aria-controls="ChangeMyPicture" role="tab" data-toggle="tab">Change Picture</a></li>
        </ul>
        <div class="tab-content tab-p-details">
            <div role="tabpanel" class="tab-pane active" id="ChangeMyProfile">
                <h2>Account</h2>
                <div class="multi_line"></div>
                @{
                    Html.RenderAction("ChangeMyProfile");
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="ChangeMyAddress">
                <h2>Change Address</h2>
                <div class="multi_line"></div>
                @{
                    Html.RenderAction("ChangeMyAddress");
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="ChangeMyEmail">
                <h2>Change Email</h2>
                <div class="multi_line"></div>
                @{
                    Html.RenderAction("ChangeMyEmail");
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="ChangeMyPassword">
                <h2>Change Password</h2>
                <div class="multi_line"></div>
                @{
                    Html.RenderAction("ChangeMyPassword");
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="ChangeMyPicture">
                <h2>Change Picture</h2>
                <div class="multi_line"></div>
                @{
                    Html.RenderAction("ChangeMyPicture");
                }
            </div>
        </div>
    </div>
</div>