@model DubiSouqWebsite.Models.user
@using (Html.BeginForm("ChangeMyPicture", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <span class="help-block"></span>
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
        <input type="file" class="form-control" name="file">
    </div>
    <span class="help-block"></span>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
        <img src="~/@Model.Picture" width="250" height="250">
    </div>
    <span class="help-block"></span>
    <input type="submit" value="Upload" class="btn btn-default" />
    <br/><br /><br />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
