@model DubiSouqWebsite.Models.user
@{
    ViewBag.Title = "UploadProfileImage";
    Layout = "~/Views/Shared/_ControlPanelNavbar.cshtml";
    if (Model.Picture == null || Model.Picture == "")
    {
        Model.Picture = "images/comment1.png";
    }
}
<div class="container center_div">
    <div class="col-md-6 col-md-offset-3">
        <h2>UploadProfileImage</h2>

        @using (Html.BeginForm("UploadProfileImage", "Admin", new { id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <span class="help-block"></span>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
                <input type="file" class="form-control" name="file">
            </div>
            <span class="help-block"></span>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
                <img src="~/@Model.Picture" width="250" height="250">
            </div>
            <span class="help-block"></span>
            <button name="submit" class="btn btn-lg btn-primary btn-block" type="submit">
                Upload
            </button>
        }

    </div>
</div>